pre {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  font-size: large;
  justify-content: center;
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    font-size: large;
  }
  
  h1 {
    color: navy;
    text-align: center;
  }

  h2 {
    color: black;
    text-align: center;
    justify-content: center;
  }

  label[for] {
    display: inline;
  }
  
  input[type="checkbox"] {
    display: inline;
    vertical-align: middle;
  }
  
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    justify-content: space-evenly;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    
  }

 
  radio {
    display: flex;

  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: navy;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: navy;
  }

  footer {
    text-align: center;
    color: black;
    position: relative;

  }