<!DOCTYPE html>
<html lang="eng" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="initial-scale=1, width=device-width">
    <title>Your Quiz</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <H1 class="text-center">Your quiz!</H1>
  </head>
  <body>
    <br>
    <pre class="text-center" style="font-size: 1.2rem">{{ quiz }}</pre>    
  </body>
</html>

